/* General Swiper styling for mobile */
.mySwiper {
  margin: 0 auto;
  height: 500px !important;
  max-width: 100%; /* Allow it to expand fully on larger screens */
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.swiper-slide {
  height: auto;
  width: 100%;
  height: 100%;
}

/* Styling each swiper slide */
.swiper-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ion-card-header {
  padding: 20 0px;
  margin: 0;
}

ion-card-header .stat-title {
  font-size: 1.2rem;
  font-weight: bold;
  --color: rgba(0, 0, 0, 0.588);
  margin-top: 20px;
}

ion-card-content {
  padding-inline-end: 0;
  margin: 15px 0 0 0;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: linear-gradient(115deg, rgb(255, 251, 0), rgba(255, 0, 64, 0.7));
  box-shadow: 0 0 20px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card-content .stat-number .data-component p {
  font-size: 4rem;
  color: rgb(0, 0, 0);
}

.swiper-pagination {
	position: absolute;
	top: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #007aff;
  text-decoration: underline;
}