/* General Swiper styling for mobile */
.mySwiper {
  margin: 0 auto;
  height: 500px !important;
  max-width: 100%; /* Allow it to expand fully on larger screens */
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.swiper-slide {
  height: auto;
  width: 100%;
  height: 100%;
}

/* Styling each swiper slide */
.swiper-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.swiper-pagination {
	position: absolute;
	top: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color:#000;
	opacity: 1;
	background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #007aff;
  text-decoration: underline;
}