/* Remove shadows and set base styles for slide-container */
.slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    box-shadow: none; 
}

/* Scope styles to only ion-cards inside .slide-container */
.slide-container ion-card {
    height: 95vh;
    box-shadow: none;
    width: 398px;
    border-radius: 12px;
    display: flex;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Internal styling for ion-card-content */
.slide-container ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

/* Specific styling for ion-card-content */
.slide-container ion-card-content::part(native) {
    font-size: 1.2rem;
    padding: 16px;
    box-shadow: none; 
}

/* General content styling inside ion-card */
.slide-container h2 {
    color: var(--ion-color-tertiary);
    font-size: 44px;
    text-align: center;
    margin-bottom: 40px;
}

/* Style for ion-input inside slide-container */
.slide-container ion-input::part(native) {
    background-color: var(--soberman-white);
    color: var(--soberman-dark-blue);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: none;
}

/* Style for ion-button inside slide-container */
.slide-container ion-button::part(native) {
    background-color: var(--soberman-dark-blue);
    color: var(--soberman-white);
    box-shadow: none;
}

.slide-container ion-button {
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
}

/* Style for images inside slide-container */
.slide-container img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 16px auto;
    padding-bottom: 16px;
    border-radius: 20%;
}

/* Label styling */
.slide-container label {
    margin-top: 10px;
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

/* Responsive styling for the intro image */
@media (min-width: 768px) {
    .slide-container img {
        max-width: 250px;
    }
}

@media (min-width: 1024px) {
    .slide-container img {
        max-width: 200px;
    }
}