/* SlideStyle.css */
.slide-container {
    width: 100%;
    background-color: var(--soberman-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures full height of the viewport */
}

ion-card {
    height: 80vh;
}

ion-card::part(native) {
    background-color: var(--soberman-blue);
    color: var(--soberman-green);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

ion-card-content::part(native) {
    font-size: 1.2rem;
    padding: 16px;
}

h2 {
    color: var(--soberman-green);
    text-align: center;
    margin-bottom: 16px;
}

ion-input::part(native) {
    background-color: var(--soberman-white);
    color: var(--soberman-dark-blue);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px; /* Adds space between inputs */
}

ion-button::part(native) {
    background-color: var(--soberman-dark-blue); /* Applies the custom green color */
    color: var(--soberman-white); /* Ensures text color is white */
}

ion-button {
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
}

img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 16px;
}

label {
    margin-top: 10px;
    color: black;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}